<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ru.kinomir.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>ru.kinomir.QueryServlet</servlet-class>
        <init-param>
            <param-name>MyWeb_GetShow</param-name>
            <param-value>ru.kinomir.processor.GetShowNewProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_GetDateList</param-name>
            <param-value>ru.kinomir.processor.GetDateListProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_GetClientInfo</param-name>
            <param-value>ru.kinomir.processor.GetClientInfoProcessor</param-value>
        </init-param>
		<init-param>
            <param-name>Wga_GetClient</param-name>
            <param-value>ru.kinomir.processor.GetClientProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_GetPerformancesNew</param-name>
            <param-value>ru.kinomir.processor.GetPerformanceNewProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetZUInfo</param-name>
            <param-value>ru.kinomir.processor.GetZUInfoProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetGenre</param-name>
            <param-value>ru.kinomir.processor.GetGenreProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetHalls</param-name>
            <param-value>ru.kinomir.processor.GetHallProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetPerformance</param-name>
            <param-value>ru.kinomir.processor.GetPerformanceProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetShow</param-name>
            <param-value>ru.kinomir.processor.GetShowProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetHallSchemaNC</param-name>
            <param-value>ru.kinomir.processor.GetHallSchemaNCProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetPlaces</param-name>
            <param-value>ru.kinomir.processor.GetPlacesProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_DropPlace</param-name>
            <param-value>ru.kinomir.processor.DropPlaceProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_CreateOrder</param-name>
            <param-value>ru.kinomir.processor.CreateOrderProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_AddPayment</param-name>
            <param-value>ru.kinomir.processor.AddPaymentProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_LockPlace</param-name>
            <param-value>ru.kinomir.processor.LockPlaceProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_SetOrderDescription</param-name>
            <param-value>ru.kinomir.processor.SetOrderDescriptionProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_SetOrderToNull</param-name>
            <param-value>ru.kinomir.processor.SetOrderToNullProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_UnlockPlace</param-name>
            <param-value>ru.kinomir.processor.UnLockPlaceProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_moviesoon</param-name>
            <param-value>ru.kinomir.processor.MyWebMoviesoonProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_GetOrderInfo</param-name>
            <param-value>ru.kinomir.processor.MyWebGetOrderInfoProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>WgA_PrintTicket</param-name>
            <param-value>ru.kinomir.processor.PrintTicketProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>Wga_GetPerfInfo</param-name>
            <param-value>ru.kinomir.processor.GetPerfInfoProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_CreateClient</param-name>
            <param-value>ru.kinomir.processor.MyWebCreateClient</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_GetOrders</param-name>
            <param-value>ru.kinomir.processor.MyWebGetOrdersProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_ShowInfo</param-name>
            <param-value>ru.kinomir.processor.MyWebShowInfoProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>MyWeb_AuthClient</param-name>
            <param-value>ru.kinomir.processor.AuthClientProcessor</param-value>
        </init-param>
        <init-param>
            <param-name>cli_tok</param-name>
            <param-value>ru.kinomir.processor.GetClientInfoByTokenProcessor</param-value>
        </init-param>
        
        <init-param>    
            <param-name>user_2</param-name>
            <param-value>jdbc/User1DS</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/User1DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
